body {
	font-family: 'Cardo', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('pizza2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
    }

    header {
	background-color: rgba(51, 51, 51, 0);
	color: #fff;
	padding: 5% 5%;
	text-align: center;
	top: 10px;
	.button-container {
		position: fixed;
		top: 0; /* Justera höjden efter behov */
		margin-left: 39%; /* Justera sidomarginalen efter behov */
	}
	.button {
		text-decoration: none;
		color: #333;
		font-weight: bold;
		background-color: #fff;
		padding: 20% 90%; /* Justera storleken på knappen efter behov */
		display: inline-block; /* Visa knappen som en block-element */
		border: 5% solid #333;
		border-radius: 80px;
	}
	.line {
		border: none;
		border-top: 7px solid #fff; /* Tjockt rakt streck längst ner */
		width: 12%; /* Justera bredden på linjen efter behov */
		margin-top:-2000px; /* Justera avståndet mellan linjen och menyn */
	}
    }
    .top-left {
	font-size: 250%;
	font-weight: bold;
	position: absolute;
	top: 5%; /* Justera toppositionen */
	left: 5%; /* Justera vänsterpositionen */
	color: #fff;
    }
    .top-right {
	font-size: 170%;
	font-weight: bold;
	position: absolute;
	top: 5%; /* Justera toppositionen */
	right: 5%; /* Justera högerpositionen */
	color: #fff;
    }
    nav {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 15px 10px;
	text-align: center;
    }
    nav:not(:last-child) {
	margin-right: 20%; /* Justera glipan mellan nav-elementen genom att lägga till en margin till höger */
	margin-left: 20%;
    }
    .button-container {
	flex-basis: 38%; /* Justera bredden av rektanglarna för att passa två per rad */
	margin-bottom: 20px;
	min-height: 5%;
	max-height: 5%;
    }
    .button {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	background-color: #fff;
	padding: 16px 16px;
	display: block;
	border: 3px solid #333;
	border-radius: 80px;
    }
    .name{
	font-family: 'Cardo', serif;
	font-weight: bold;
	font-size: 120%;
    }
    .description{
	font-family: Cardo;
	font-weight: light;
	font-size: 80%;
    }
    main {
	padding: 20px;
    }
    section {
	margin-bottom: 20px;
    }
    .sidemenu {
	width: 10%;
	height: 25%; 
	background-color: #f4f4f4;
	position: fixed;
	top: 22%; 
	left: 10%;
	padding: -4%;
	border: 2%px solid #333;
	border-radius: 20px;
	text-align: center;
    }
    
    .sidemenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    }
    
    .sidemenu li {
	padding: 3%;
    }
    
    .sidemenu li a {
	text-decoration: none;
	color: #333;
	font-size: 150%;
	font-weight: bold;
    }
    
    .sidemenu li a:hover {
	color: #666;
    }
    .sidemenu2 {
	width: 10%;
	height: 35%; /* Höjden på sidomenyn */
	background-color: #f4f4f4;
	position: fixed;
	top: 55%; /* Avstånd från toppen av sidan */
	left: 10%; /* Avstånd från vänsterkanten av sidan */
	padding: -4%;
	border: 2% solid #333;
	border-radius: 20px;
	text-align: center;
    }
    
    .sidemenu2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    }
    
    .sidemenu2 li {
	padding: 9%;
    }
    
    .sidemenu2 li a {
	text-decoration: none;
	color: #333;
	font-size: 160%;
	font-weight: bold;
    }
    
    .sidemenu2 li a:hover {
	color: #666;
    }
    h2 {
	font-size: 300%; /* Justera storleken på h2-texten */
	margin-bottom: 10px; /* Justera avståndet mellan h2 och texten under */
	font-weight: bolder;
    }
    
    .button-container span {
	font-size: 150%; /* Justera storleken på texten under h2 */
    }